# Porta do Servidor (Express)
PORT=3001

# Banco de Dados (Supabase - com Pooler)
DATABASE_URL="postgresql://user:password@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Banco de Dados (Supabase - Conexão Direta para Migrações)
DIRECT_URL="postgresql://user:password@db.project.supabase.co:5432/postgres"

# Segredo do Supabase JWT
SUPABASE_JWT_SECRET="sua_chave_secreta_jwt"

# Chave API do Resend (E-mails transacionais)
RESEND_API_KEY="re_sua_chave_aqui"
